Repository brave/browser-android-tabs, pull requests merged in 2019-01, with the labels that each got.

#961 Fix shields 'Block 3rd party cookies' option
  brave_src/browser/BUILD.gn
  brave_src/browser/brave_tab_helpers.cc
  brave_src/browser/brave_tab_helpers.h
  brave_src/browser/brave_tab_url_web_contents_observer.cc
  brave_src/browser/brave_tab_url_web_contents_observer.h
  chrome/android/java/res/xml/website_preferences.xml
  chrome/android/java/src/org/chromium/chrome/browser/init/ChromeBrowserInitializer.java
  chrome/android/java/src/org/chromium/chrome/browser/init/ShieldsConfig.java
  chrome/android/java/src/org/chromium/chrome/browser/preferences/website/SingleCategoryPreferences.java
  chrome/android/java/strings/android_chrome_strings.grd
  chrome/browser/BUILD.gn
  chrome/browser/chrome_content_browser_client.cc
  chrome/browser/net/blockers/shield_exceptions.cc
  chrome/browser/net/blockers/shield_exceptions.h
  chrome/browser/net/chrome_network_delegate.cc
  chrome/browser/ui/tab_helpers.cc
  components/content_settings/core/browser/cookie_settings.cc
  components/content_settings/core/browser/cookie_settings.h
  extensions/common/BUILD.gn
Labels: QA/Test-plan-specified, bug, feature/shields

#957 Initial SafetyNet integration
  build/android/play_services/config.json
  build/config/android/config.gni
  build/secondary/third_party/android_tools/BUILD.gn
  build/secondary/third_party/android_tools/google_play_services_safetynet_java.info
  build/secondary/third_party/android_tools/google_play_services_safetynet_license_java.info
  chrome/android/BUILD.gn
  chrome/android/java/src/org/chromium/chrome/browser/ConfigAPIs.java.template
  chrome/android/java/src/org/chromium/chrome/browser/util/SafetyNetCheck.java
  chrome/android/java_sources.gni
  chrome/browser/BUILD.gn
  chrome/browser/android/brave/safetynet_check.cc
  chrome/browser/android/brave/safetynet_check.h
  components/brave_rewards_ui/resources/components/grant.tsx
  third_party/android_deps/.gitignore
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_google_android_gms_play_services_safetynet/com_google_android_gms_play_services_safetynet.info
  third_party/android_deps/libs/com_google_android_gms_play_services_safetynet/play-services-safetynet-15.0.1.aar
Labels: security

#1040 Add Cancel button on loading after sync init; addresses #979
  chrome/android/java/res/layout/brave_sync_done.xml
  chrome/android/java/src/org/chromium/chrome/browser/BraveSyncWorker.java
  chrome/android/java/src/org/chromium/chrome/browser/preferences/BraveSyncScreensPreference.java
Labels: design, enhancement, feature/sync

#1055 Move custom headers from NavigationRequest to ChromeNetworkDelegate::OnBeforeStartTransaction
  chrome/browser/net/chrome_network_delegate.cc
  content/browser/frame_host/navigation_request.cc
Labels: enhancement
